
@{
    ViewData["Title"] = "CreateUpdate";
}

<h1 class="font-weight-bold header">CREATE / UPDATE NEWS</h1>
<span class="d-none news-name">test</span> @*service name (update)*@

<div class="data-table border-red bg-white mt-4" id="News">
    <div class="p-4 p-sm-5">
        <form id="myform">
            <input type="hidden" name="news-id" id="newsId" value="" />
            <div class="detail-box">
                <div class="form-group">
                    <label for="select" class=" form-control-label mb-0 line-h">Status<span class="text-danger">*</span></label>
                    <div class="d-flex">
                        <div class="radio col-6">
                            <input class="status" id="radio-1" name="banner" type="radio" value="true" checked="checked">
                            <label for="radio-1" class="radio-label">Enable </label>
                        </div>
                        <div class="radio col-6">
                            <input class="status" id="radio-0" name="banner" type="radio" value="false">
                            <label for="radio-0" class="radio-label">Disabled</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="select" class=" form-control-label mb-0 line-h">Thumbnail<span class="text-danger">*</span></label>
                    <div>
                        <div class="div-file-upload">
                            <label class="btn btn-secondary mb-0" for="FileImage">
                                <input class="input-file-upload d-none" id="FileImage" name="FileImage" type="file" accept="image/*" value="">
                                <canvas id="FileImage-canvas" class="d-none"></canvas>
                                <span class="font-weight-bold">Choose file</span>
                            </label>

                            <span class="file-name ml-0 ml-md-3 filename"></span>
                            <input type="hidden" name="thumbnail" id="thumbnail" class="thumbnail" value="" required />
                            @*<button type="button" class="btn btn-link btn-delete-file d-none">
                                    <i class="fa fa-times-circle icon-delete"></i>
                                </button>*@
                        </div>
                        <input type="hidden" name="name" id="pictureImg" value="" />
                        <div class="preview-upload mt-3 d-none" id="preview-upload-news"></div>
                        <span class="text-secondary img-condition"><span class="text-danger">*</span>ขนาดไฟล์ต้องไม่เกิน 10 MB และต้องเป็นสกุลไฟล์ .jpg , .jpeg, .png เท่านั้น</span>
                        <p class="text-danger" id="thumbnail_error"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="select" class=" form-control-label mb-2 line-h">Description<span class="text-danger">*</span></label>
                    <div class="summernote-box" id="desc-th">
                        <textarea class="summernote" required></textarea>
                    </div>
                </div>
                @*<div class="form-group">
                        <label for="select" class=" form-control-label mb-2 line-h">Description (EN)</label>
                        <div class="summernote-box" id="desc-en">
                            <textarea class="summernote"></textarea>
                        </div>
                    </div>*@
                <div class="form-group">
                    <label for="select" class=" form-control-label mb-0 line-h">Sort Order<span class="text-danger">*</span></label>
                    <div>
                        <input class="form-control input-field" id="sortorder" name="sortorder" type="number" value="" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="9" required>
                        <span class="text-danger" id="sortorder_error"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="select" class=" form-control-label mb-0 line-h">Alt Tag<span class="text-danger">*</span></label>
                    <div>
                        <input class="form-control input-field" id="alttag" name="alttag" type="text" value="" required>
                        <span class="text-danger" id="alttag_error"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                            <label for="select" class=" form-control-label mb-0 line-h">Start date<span class="text-danger">*</span></label>
                            <div class="input-group date" id="date-from" data-target-input="nearest">
                                <input type="text" class="form-control datetimepicker-input" name="startDate" id="startDate" data-target="#date-from" required />
                                <div class="input-group-append" data-target="#date-from" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                            <span class="text-danger" id="startDate_error"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="select" class=" form-control-label mb-0 line-h">End date<span class="text-danger">*</span></label>
                            <div class="input-group date" id="date-to" data-target-input="nearest">
                                <input type="text" class="form-control datetimepicker-input" name="endDate" id="endDate" data-target="#date-to" required />
                                <div class="input-group-append" data-target="#date-to" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                            <span class="text-danger" id="endDate_error"></span>
                        </div>
                    @*<div class="form-group col-md-6">
                        <label for="select" class=" form-control-label mb-0 line-h">Expire date<span class="text-danger">*</span></label>
                        <div class="input-group date" id="expire-date" data-target-input="nearest">
                            <input type="text" class="form-control datetimepicker-input" name="expireDate" id="expireDate" data-target="#expire-date" required />
                            <div class="input-group-append" data-target="#expire-date" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                        <span class="text-danger" id="expireDate_error"></span>
                    </div>*@
                </div>
                <div class="button-box mt-5">
                    <div class="bd-highlight mb-3">
                        <a href="#" class="btn btn-danger btn-mobile d-none" onclick="confirmDelete()" id="btn-delete">Remove</a>
                        <a href="/news/index" class="btn btn-outline-secondary btn-mobile">Cancel</a>
                        <div class="float-sm-right">
                            <button type="submit" class="btn btn-success submit-btn btn-mobile" id="save-btn">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section scripts{
    <script src="~/js/News/NewsCrudScript.js"></script>
}